<link rel="stylesheet" href="/css/footer.css">
<footer id="footer">
    <div id="footer-div">
        <h1 class="h1">&copy;All Rights By Coding Ninjas </h1>
        <ul>
            <li><a href="#"><span><i class="fa-solid fa-arrow-up fa-xl"></i></span></a></li>
        </ul>
    </div>
</footer>