<link rel="stylesheet" href="/css/signIn.css">
<section  id="sign-in-page">     
    <div class="card" id="div1">
        <h1 class="card-title">Forget Password</h1>
        <form action="/reset" method="post" id="form">
            <div id="email" class="card">
                <input class="card" type="email" name="email" placeholder="Enter Your Email" required>
            </div>
            <div id="submit" class="card">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
  
</section>
  