<link rel="stylesheet" href="/css/signIn.css">
<section  id="sign-in-page">     
    <div class="card" id="div1">
        <h1 class="card-title">Reset Password</h1>
        <form action="/new-password" method="post" id="form">
            <div id="password" class="card">
                <input class="card" type="password" name="password" placeholder="Enter Your Password" required>
                <div id="confirm_password" class="card">
                    <input class="card" type="password" name="confirm_password" placeholder="Enter Your Confirm Password">
                </div>
                <input type="hidden" name="user_id" value="<%=user_id%>">
            </div>
            <div id="submit" class="card">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
  
</section>
  