<link rel="stylesheet" href="/css/signIn.css">
<section  id="sign-in-page">     
    <div class="card" id="div1">
        <h1 class="card-title">Login App</h1>
        <form action="create-session" method="post" id="form">
            <div id="email" class="card">
                <input class="card" type="email" name="email" placeholder="Enter Your Email" required>
            </div>
            <div id="password" class="card">
                <input class="card" type="password" name="password" placeholder="Enter Your Password" required>
            </div>
            <div id="submit" class="card">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div id="div2">
            <h4 class="h4">Don't have an Account <a href="/sign-up">Sign Up</a></h4>
        </div>
        <div id="buttons">
          <p id="link">
            <a href="/auth/google" class="btn">Sign In With Google</a>
          </p>  
            <p id="link1">
                <a href="/forgetPassword" class="btn1">Forget Password</a>
            </p>
        </div>
    </div>
  
</section>
  