<!-- <link rel="stylesheet" href="/css/signIn.css"> -->
<section  id="sign-in-page">     
    <div class="card" id="div1">
        <h1 class="card-title">hi, Suhail Khan</h1>
        <p>Please reset the password</p>
        <a href="http://127.0.0.1:3000/reset-password/?token=<%=token%>">Reset password</a>  
    </div>
  
</section>
  